<div class="row">
    <div class="col-8 justify-content-center align-items-center d-flex">
        <form [formGroup]="formularioLogin">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']">
                    El usuario es requerido. 
                </div>
                <div *ngIf="email.errors?.['minlength']">
                    Campo muy corto.
                </div>
                <div *ngIf="email.errors?.['forbidenName']">
                    El usuario no es.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                <div *ngIf="password.errors?.['required']">
                    La contraseña es requerida.
                </div>
                <div *ngIf="password.errors?.['minlength']">
                    Campo muy corto.
                </div>
                <div *ngIf="password.errors?.['forbidenName']">
                    El usuario no es.
                </div>
            </div>
        </div>
        <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>
</div>
